<h1 mat-dialog-title>New reminder</h1>
<mat-dialog-content [formGroup]="form">
    <mat-form-field style="display: none;">
        <input type="number" matInput formControlName="id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input type="date" matInput formControlName="date">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Time</mat-label>
        <input type="time" matInput formControlName="time">
    </mat-form-field>
    <mat-form-field>
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city">
        <mat-hint *ngIf="weather.error">{{weather.message}}</mat-hint>
        <mat-hint *ngIf="!weather.error && weather.message !== '' ">The weather is: {{weather.message}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Reminder</mat-label>
        <input type="text" matInput formControlName="description">
    </mat-form-field>
    <p>Pick a color to customizeyour reminder</p>
    <mat-radio-group formControlName="color">
        <div class="colored-radios">
            <mat-radio-button *ngFor="let color of colors" [value]="color.value" [id]="color.value">
                <mat-label>
                    <span [ngStyle]="{'backgroundColor': color.color}">
                        <img src="../../../assets/check-mark.svg" alt="Checked">
                    </span>
                </mat-label>
            </mat-radio-button>
        </div>
    </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="cancel" (click)="onClose()">Cancel</button>
    <button class="submit" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
</mat-dialog-actions>