.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.colored-radios {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.mat-radio-container {
  display: none !important;
}

.mat-radio-label-content mat-label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 55px;
}

.mat-radio-label-content mat-label span img {
  opacity: 0;
  fill: #e3eef2;
}

mat-radio-button.mat-radio-checked
  .mat-radio-label
  .mat-radio-label-content
  mat-label
  span
  img {
  opacity: 1;
}

mat-dialog-actions {
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0;
  font-weight: bold;
  color: #e3eef2;
  cursor: pointer;
}

button.submit {
  background-color: #06d6a0;
}

button.submit:disabled {
  cursor: not-allowed;
  background-color: #06d6a056;
}

button.cancel {
  background-color: #ef476f;
}
