.container {
  padding: 1vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.calendar-menu button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0;
  font-weight: bold;
  color: #e3eef2;
  cursor: pointer;
  background-color: #118ab2;
}

.calendar {
  height: 700px;
  width: 1200px !important;
  border-radius: 20px;
  list-style: none;
}

.calendar li {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
}

.calendar li.weekdays {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3eef2;
  background-color: #073b4c;
}

.calendar li.monthdays {
  border: 0.1px solid #0f272e;
  text-align: start;
  vertical-align: top;
  padding: 1%;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  height: 130px;
}

.calendar li.monthdays div {
  overflow-y: scroll;
  height: 110px;
  max-height: 110px;
  color: inherit;
  position: relative;
}

.calendar li.monthdays div div.day-info {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 1.5rem;
}

.calendar li.monthdays div::-webkit-scrollbar {
  display: none;
}

.calendar li.monthdays.weekend {
  background-color: #e3eef2;
  color: #118ab2;
}

.calendar li.monthdays.out-of-month {
  color: #aaa;
}

.calendar li.monthdays div div.day-info a {
  font-size: small;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1rem;
}

.calendar li.monthdays div div.day-info p {
  position: relative;
  justify-self: flex-start;
  margin-right: auto;
  z-index: 2;
}

.calendar li.monthdays.actual-date div div.day-info p {
  color: #ef476f;
}

.calendar li.monthdays ul li,
.calendar li.monthdays ul li {
  display: block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #e3eef2;
  border-radius: 10px;
  font-size: small;
  padding: 2px 10px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
}

.calendar li.monthdays ul li.color1 {
  background-color: #ef476f;
  color: #e3eef2;
}

.calendar li.monthdays ul li.color2 {
  background-color: #06d6a0;
  color: #e3eef2;
}

.calendar li.monthdays ul li.color3 {
  background-color: #ffd166;
  color: #0f272e;
}

.calendar li.monthdays ul li.color4 {
  background-color: #118ab2;
  color: #e3eef2;
}

.calendar li.monthdays ul li span {
  position: absolute;
  color: #0f272e;
  font-size: medium;
  padding: 1px;
  right: 5px;
}
