<div class="container">
    <div class="calendar-menu">
        <button (click)="previousMonth()">Prev</button>
        <h1>{{months[actualDate.getMonth()]}} / {{ actualDate.getFullYear() }}</h1>
        <button (click)="nextMonth()">Next</button>
    </div>
    <ul class="calendar">
        <li class="weekdays" *ngFor="let day of weekdays">{{day}}</li>
        <li *ngFor="let daySchedule of monthSchedule" [ngClass]="{
                'monthdays': true, 
                'weekend': isWeekend(daySchedule.date), 
                'out-of-month': isOutOfMonth(daySchedule.date),
                'actual-date': isToday(daySchedule.date)
            }">
            <div>
                <div class="day-info">
                    <p>{{daySchedule.date | date:'d'}}</p>
                    <a *ngIf="!isOutOfMonth(daySchedule.date) && daySchedule.reminders.length > 0"
                        (click)="clearDay(daySchedule.date)">Clear</a>
                    <a *ngIf="!isOutOfMonth(daySchedule.date)" (click)="newDialog(daySchedule.date)">Add</a>
                </div>

                <ul>
                    <li *ngFor="let reminder of daySchedule.reminders" [ngClass]="reminder.color"
                        (click)="editDialog(reminder)">
                        <p>{{reminder.description}} <span (click)="removeReminder($event, reminder)">X</span></p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>